.ms-main {
  min-width: $content-min-width;
  &--list-view {
    max-width:$content-max-width;
    
    /*margin: 0 auto;*/
    margin-right: 24px;
    display:flex;
    justify-content: space-between;
  }
  &-l {
    $left-col-width: 648px;
    &-left-col {
      width: $left-col-width;
      margin-left: $list-left-gutter;
      padding-top: 0px;
      margin-right: 72px;
    }
    &-right-col {
      flex: 1;
      min-width: 0;
    }
  }
}
//GRID VIEW
.ms-main--grid-view {

  display:flex;
  &-filter-bar {
    padding-top: 43px;
  
    width: (8px * 31 + 1px);
    background: white; 
    border-right: 1px solid $light-grey-border;
  }
  &-content-area {
    flex: 1;
    max-width: 1080px;
    padding-left: 36px;
    margin-right: 24px;
    padding-bottom: 48px;
  }
  &-top-controls {
    display:flex; 
    justify-content: space-between;
    align-items: flex-start;
  }
  &-cards {
    &-container {
      display:flex;
      flex-wrap: wrap;
    }
    &-item {
      $spacing: 12px;
      $perrow: 4;
      width: calc( (100% / #{$perrow}) - ((#{$spacing} * (#{($perrow - 1)}) / #{$perrow})) ;
      margin: 0 ($spacing /2) ($spacing * 2) ($spacing / 2);
      &:nth-child(#{$perrow}n + 1) {
        margin-left: 0;
      }
      &:nth-child(#{$perrow}n + #{$perrow}) {
        margin-right: 0;
      }
      @media(max-width: 1260px) {
        width: calc((100% / 3) - ( (#{$spacing} * 3 ) / 3));
        margin-left: 0;
        margin-right: 0;
        &:nth-child(3n+2) {
          margin-left: $spacing;
          margin-right: $spacing;
        }
        
      }
    }
    
  }
  &-show-more {
    &-container {
      display:flex;
      justify-content: center;
      padding-top: 24px;
    }
  }
}
