.ms-grid-filter {
    margin-bottom: 24px;
    &-title {
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: $helper-text; 
        letter-spacing: .15em;
        text-transform: uppercase;
        padding: 0 24px 8px 24px;
    }
    &-options {
        > a {
            position: relative;
            padding: 0 24px 0 (24px + 22px );
            
            display: block;
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 4px;
            .title {
                margin-right: 6px;
            }
            &:hover {
                text-decoration: none;
                .title {
                    text-decoration: underline;
                  
                }
                svg {
                    color: $link-color;
                }
            }
            svg {
                position:absolute;
                left: 24px;
                width: 16px;
                height: 16px;
                top: 0px;
                color: $helper-text;
            }
            &.selected {
                > svg {
                    color: $link-color;
                }
            }
        }
    }
    &-show-more {
        display:flex;
        color: $link-color; 
        font-size: 14px;
        align-items: center;
        line-height: 1;
        > svg {
            margin-left: 4px;
            width: 18px;
            height: 18px;
            color: black;
            transform: rotate(-90deg);
        }
        &:hover {
            text-decoration: underline;
        }
        &-container {
            display:flex;
            justify-content: flex-start;
            padding: 4px 24px 0 24px;
        }
        
    }
}