.ms-view-switch {
    &-container {
        margin-bottom: 8px;
        display:flex;
    }
    &-btn {
        width: 36px;
        height: 36px;
        display:flex; 
        align-items: center;
        justify-content: center;
        > svg {
            width: 36px;
            height: 36px;
        }
        &:not(:first-child) {
            margin-left: 4px;
        }
        &--active, &:hover {
            color: $link-color;
        }
    }
}